$orange: rgb(246, 198, 149);
$white: rgb(255, 255, 255);
$dark_orange: rgb(243,167,66);
$green:rgb(63, 155, 122);
$dark_grey: rgb(0, 35, 54); 
$light_grey: rgb(146, 150, 175);
$orange-letters: rgb(241, 123, 0);
$almost-white:rgb(250,252,255);
$dark_green:rgb(39,79,70);
$btn_green:rgb(47,92,82);
$footer_letters:rgb(152, 194, 182);
$light_blue: rgb(161, 201, 255);